@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;700&display=swap'); 

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Titillium Web', sans-serif;
}

:root{
    --mainColor: #0a0a0a;
    --mainColorLight: #fc79c6;
    --secondaryColor: #4dcce2;
    --textColor: #ffffff;
    
    
        
}

.title{
    
    
}

header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
    background-color: #030303;
    color: var(--textColor);
}

nav a{
    margin:0 2rem;
    color: var(--textColor);
    text-decoration: none;
}

nav a:hover{
    color: var(--secondaryColor);
}

header .nav-btn{
    padding: 5px;
    cursor:pointer;
    background: transparent;
    border:none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}


h1{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 150px;
    padding: 0 2rem;
    color: var(--textColor); 
}


.img1{
    width: 100%;
    
}

.img2{
    width: 35%;
    margin-top: -300px;
    margin-left: 100px;
    
}

.img3{
    width: 45%;
    margin-top: -20px;
    margin-left: 0px;
    
}

.img4{
  width: 90%;
  margin-top: -210px;
 
  
}

.img20{
  width: 90%;
  margin-top: -210px;
 
  
}

.img5{
  width: 24%;
  padding-bottom: 70px;
  margin-top: -650px;
  margin-left:1200px;
  
}


.imgBox{
 
  width: 24%;
  margin-top: -55%;
  margin-left: 42%;
  margin-bottom: -40%;
 
  
}

/* .imgBox5{
  
  position: relative;
  width: calc(130% -80px);
  height: 100px;
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;
  

} */

@keyframes animateUser {

  50%{
    right: 30px;
    top: -90px;
  }
  
}

.imgBox1{
  margin-left: 500px;
  width: 600px;
  position: relative;
  width: calc(130% -80px);
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;
  

}

/* @keyframes animateUser {

  50%{
    right: 30px;
    top: -90px;
  }
  
} */

.imgBo{

  position: relative;
  width: 800px;
  width: calc(130% -80px);
  height: 800px;
  margin-top: 150px;
  margin-left: 100px;
  top: -100px;
  right: 50px;
  animation: animateUser 4s linear infinite;

}

.topic1{
    color: #ffffff;
    margin-top: 150px;
    margin-left: 250px;
    font-size: 100px;

    
}
.topic2{
    color: #ffffff;
    
    margin-left: 255px;
    font-size: 20px;
}

.topic3{
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 450px;
    margin-left: 750px;
    font-size: 40px;
}
.topic4{
    justify-content: center;
    justify-items: center;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    margin-left: 755px;
    font-size: 17px;
}


.topic5{

    text-align: center;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: -100px;
    font-size: 40px;
   
}

.topic6{

    text-align: center;
    color: #ffffff;
    margin-top: 300px;
    margin-bottom: 100px;
    font-size: 40px;
   
}
.topic7{

  text-align: center;
  color: #ffffff;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 80px;
 
}

.topic8{

  text-align: center;
  color: #afaeae;
  margin-top: 100px;
  margin-bottom: 0px;
  font-size: 40px;
 
}

.topic9{

  text-align: center;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: -40px;
  font-size: 30px;
 
}

.topic10{

  text-align: center;
  color: hsl(0, 1%, 65%);
  margin-top: 600px;
  margin-bottom: 50px;
  font-size: 40px;
 
}

.topic11{

  text-align: center;
  color: #afaeae;
  margin-top: 400px;
  margin-bottom: -150px;
  font-size: 40px;
 
}


.form1{

  width: 50%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding:15px;
  margin-left: 500px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.form2{

  width: 50%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  padding:15px;
  margin-left: 500px;
  margin-top: 0px;
}
.form3{

  width: 50%;
  border-radius: 5px;
  height: 100px;
  justify-content: center;
  align-items: center;
  padding:15px;
  margin-left: 500px;
  margin-top: 35px;
}

.paragrhap{
  text-align: center;
  color: #a19e9e;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 25px;
  padding: 10px;
  padding-left: 300px;
  padding-right: 300px;
}

.paragrhap0{
 
  color: #888686;
  font-size: 20px;
  margin-top: -200px;
  
}

.paragrhap11{
 
  color: #888686;
  font-size: 20px;
  margin-top: -200px;
  
}
/* .paragrhap1{
 
  color: #888686;
  font-size: 20px;
  margin-top: -180px;
  
}
.paragrhap2{
 
  color: #888686;
  font-size: 20px;
  margin-top: -190px;
  
}

.paragrhap3{
 
  color: #888686;
  font-size: 20px;
  margin-top: -170px;
  
}


.paragrhap4{
 
  color: #888686;
  font-size: 20px;
  margin-top: -160px;
  
  
  
} */

.paragrhap5{
 
  color: #888686;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 0px;
}

.paragrhap6{
 
  color: #888686;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding: 0px;
  padding-bottom: 10px;
  
}

.grid1{
  padding-top: 5%;
  padding-left: 12%;
  padding-right: 12%;
}


.grid2{
  padding-top: 25%;
  padding-left: 12%;
  padding-right: 12%;
}

.grid3{
  padding-top: 15%;
  padding-left: 12%;
  padding-right: 12%;
}

.grid4{
  padding-top: 0%;
  padding-left: 12%;
  padding-right: 12%;
}

.grid5{
  padding-top: 25%;
  padding-left: 12%;
  padding-right: 12%;
}



.BtnCard {
    cursor: pointer;
    background: #202020;
    color: #ebe5e5;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-left: 253PX;
    padding: 10px;
    

   
  }
.BtnCard:hover {
    color: #000000;
    transform: scale(1.09);
    background: #ffffff;
  }



  .BtnCard5 {
    cursor: pointer;
    background: #202020;
    color: #ebe5e5;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    align-items: center;
    margin-left: 1250PX;
    padding: 10px;
    

   
  }
.BtnCard5:hover {
    color: #000000;
    transform: scale(1.09);
    background: #ffffff;
  }
  body{
    background-color: #000000;
    
    
}


.BtnCard1 {
    cursor: pointer;
    top: 15px;
    background: #fcfafa;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 1210PX;
    margin-top: 20px;
  }
.BtnCard1:hover {
    color: var(--secondaryColor);
    transform: scale(1.09);
  }



  * {
    box-sizing: border-box;
  }


  .BtnCard2 {
    cursor: pointer;
    top: 15px;
    background: #fcfafa;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 45%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
.BtnCard2:hover {
    color: var(--secondaryColor);
    transform: scale(1.09);
  }

  .BtnCard3 {
    cursor: pointer;
    top: 15px;
    background: #5e5b5b;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-left: 46%;
    margin-top: 20px;
    margin-bottom: 60px;
  }
.BtnCard3:hover {
    color: var(--secondaryColor);
    transform: scale(1.09);
    background-color: #ffffff;
  }
  
  /* Create three equal columns that floats next to each other */
  .column1 {
    color: #ebe5e5;
    align-items: center;
    text-align: center;
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 220px; /* Should be removed. Only for demonstration */
    margin-top: 200px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


.card1 {
    cursor: pointer;
    display: flex;
    background: #202020;
    flex-direction: column;
    justify-content: space-around;
    min-width: 400px;
    max-width: 400px;
    text-align: center;
    min-height: 370px;
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 1.5rem;
    transition: 0.3s;
  }
.card1:hover {
    background-color: #212c2e;
  }

  .content1 {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }

  .container2{

    padding-left: 250px ;
    padding-right: 250px;
  }

  .instagram{
    width: 50%;
    height: 100%;
    margin-left: 25%;
    padding: 10%;
    justify-content: center;
  }

  .formset{
    margin-left: -2%;
  }
































@media only screen and (max-width:1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
        
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size:  1.5rem;
    }


    h1{
        display: flex;
        align-items:center;
        justify-content: center;
        height: 100px;
        padding: 0 2rem;
        color: var(--textColor); 
    }

    .topic1{
        justify-content: center;
        color: #ebe5e5;
        margin-top: -290px;
        margin-left: 50px;
        font-size: 40px;
    }
    .topic2{

        color: #ffffff;
        margin-top: 10px;
        margin-bottom: -25px;
        margin-left: 52px;
        font-size: 8px;
        align-items: center;
    }

    .mobileHero{
      margin-left: -25px;
      margin-top: 25px;
    }

    .BtnCard {
      cursor: pointer;
      background: #202020;
      color: #ebe5e5;
      border-radius: 5px;
      width: 200px;
      height: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
      align-items: center;
      margin-left: 50PX;
      padding: 5px;
      
      
  
     
    }
  .BtnCard:hover {
      color: #000000;
      transform: scale(1.09);
      background: #ffffff;
    }
  



      .topic3{
        justify-content: center;
        justify-items: center;
        text-align: center;
        color: #ffffff;
        margin-top: 80px;
        margin-left: 0px;
        font-size: 30px;
    }
    .topic4{
        justify-content: center;
        justify-items: center;
        text-align: center;
        color: #ffffff;
        margin-top: 10px;
        margin-left: 0px;
        font-size: 15px;
    }

    .img2{
        width: 60%;
        margin-left: 85px;
        margin-top: 30px;
       
        
    }


    * {
        box-sizing: border-box;
      }
      
      /* Create three equal columns that floats next to each other */
      .column1 {
        color: #ebe5e5;
        align-items: center;
        text-align: center;
        float: left;
        width: 100%;
        padding: 0px;
        
        
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }



      .container2{

        padding-left: 0px ;
        padding-right: 0px;
      }


      .topic7{

        text-align: center;
        color: #ffffff;
        margin-top: 100px;
        margin-bottom: 0px;
        font-size: 80px;
       
      }
      
      .paragrhap{
        text-align: center;
        color: #a19e9e;
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 20px;
        padding: 10px;
        
      }


      .grid1{
        
        padding: 15%;
 
      }
      
      
      .grid2{
        padding: 15%;
      }
      
      .grid3{
        padding-top: 22%;
        padding-left: 12%;
        padding-right: 12%;
      }
      
      .grid4{
        padding-top: 0%;
        padding-left: 12%;
        padding-right: 12%;
      }


      .box1{
        padding-top: 0%;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 130%;
      }


      .box2{
        margin-top: -50px;
        padding-top: 0%;
        padding-left: 12%;
        padding-right: 12%;
        padding-bottom: 100%;
      }

      .box3{
        margin-top: -50px;
        padding-bottom: 130%;
      }

      .box4{
        margin-top: -50px;
        padding-bottom: 130%;
        margin-bottom: -100px;
      }

      .topic10{
        margin-top: 100px;
        padding-left: 10%;
        padding-right: 10%;
      }

      .BtnCard2{
        margin-left: 148px;
      }

      .BtnCard3{
        margin-left: 120px;
      }


      .form1{

        width: 90%;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 4%;
        margin-top: 50px;
        margin-bottom: 10px;
      }
      .form2{
      
        width: 90%;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 4%;
        margin-top: 0px;
      }
      .form3{
      
        width: 90%;
        border-radius: 5px;
        height: 100px;
        justify-content: center;
        align-items: center;
        padding:15px;
        margin-left: 4%;
        margin-top: 35px;
      }


      .topic11{

        text-align: center;
        color: #afaeae;
        margin-top: 400px;
        margin-bottom: -250px;
        font-size: 40px;
       
      }

      .box10{
        margin-top: 500px;
        padding-bottom: 10%;
      }


      .grid5{
        width: 100%;
      }


      .grid3{
        width: 100%;
      }

      
      .paragrhap0{
        text-align: center;
        margin-top: -100px;
      }

      .paragrhap11{
        text-align: center;
        margin-top: 0px;
      }
      .img4{
        margin-top: -10px;
        margin-left: 12px;
        
      }

      .img20{
        margin-top: -600px;
        margin-left: 0px;
        width: 100%;
        margin-bottom: 100px;
        
        
      }
      
      .imgBo{
        width: 200px;
        height: 200px;
        margin-top: 100px;
        margin-left: 60px;
       
      }

      .BtnCard5{
        margin-left: 172px;
      }

      

    body{
        background-color: #030303;
        
        
    }

}